package user

import "github.com/dstm45/seed/pkg/views/base"

templ Index(username string) {
    @base.Base("home", username){
        @UserAccount(username)
        <div> salut {username} </div>
    }
}