package authentication

import "github.com/dstm45/seed/pkg/views/component"

templ SignUp() {
    @component.LoginBase("Login") {
        @component.Form("post") {
            <p class="text-2xl font-bold flex-1">Login</p>
            @component.Input("email", "email", "") 
            @component.Input("mot de passe", "password", "") 
            @component.Submit("Se connecter")
        }
    }
}
